<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/sendMessage.js"></script>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/sendMessage.css">
<form id="chooseRecipients">
    <h4>1. Choose recipient(s)</h4>
    <div id="manualRecipient" class="form-row">
        <div class="col">
            <label for="tx" class="d-none">TX channel:</label>
            <select id="tx" class="form-control">
                <option value="1">Channel 1</option>
                <option value="2">Channel 2</option>
                <option value="3">Channel 3</option>
                <option value="4">Channel 4</option>
                <option value="5">Channel 5</option>
                <option value="6">Channel 6</option>
                <option value="7">Channel 7</option>
                <option value="8">Channel 8</option>
            </select>
        </div>
        <div class="col">
            <label for="baud" class="d-none">Baud rate:</label>
            <select id="baud" class="form-control">
                <option value="512">512 Baud</option>
                <option value="1200">1200 Baud</option>
                <option value="2400">2400 Baud</option>
            </select>
        </div>
        <div class="col">
            <label for="ric" class="d-none">RIC:</label>
            <input id="ric" class="form-control" type="number" min="1" max="2097152" placeholder="RIC" autofocus>
        </div>
        <div class="col">
            <label for="functionBits" class="d-none">Function bits:</label>
            <select id="functionBits" class="form-control">
                <option value="0">0 / A / Numeric</option>
                <option value="1">1 / B / T1</option>
                <option value="2">2 / C / T2</option>
                <option value="3">3 / D / Alpha</option>
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-sm">Add to recipients</button><br>
        </div>
    </div>
    <div class="predefinedRecipientsContainer">
        <div id="predefinedRecipients" class="row"></div>
    </div>
</form>
<hr>
<form id="chooseMessages">
    <h4>2. Set message</h4>
    <div class="form-row">
        <div class="col">
            <label for="msg" class="d-none">Message:</label>
            <input id="msg" type="text" class="form-control" placeholder="Type your message here">
        </div>
        <div class="col-2">
            <button type="reset" class="btn btn-warning btn-sm">Clear</button>
            <button type="submit" class="btn btn-primary btn-sm">Use this text</button>
        </div>
    </div>
    <div class="predefinedMessagesContainer">
        <div id="predefinedMessages" class="row"></div>
    </div>
</form>
<hr>
<form id="sendMessageSummary">
    <h4>3. Send message</h4>
    Notify pagers
    <ul id="pagersToNotify" class="list-inline inline"></ul><br>
    with the message &quot;<em id="textToSend"></em>&quot;?<br>
    <button id="sendMessageSummaryReset" type="reset" class="btn btn-warning btn-sm">Reset</button>
    <button id="sendMessageSummarySubmit" type="submit" class="btn btn-success btn-sm">Send now</button>
</form>